*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    background-color: brown;
    height: 100vh;
    /**Declaring column and rows**/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 30px;
}
.box{
    background-color: black;
    border: 3px solid white;
    /* height: 100px;
    width: 100px; */
}
#box2{
/**Declaring Grid area which is set of column and rows**/

    /* grid-row-start: 1;
    grid-column-start:2;
    grid-row-end: 3;
    grid-column-end: 3; */ 

/**grid-area notation shortform : row-start,column-start,row-end,column-end**/    
   grid-area: 1/2/3/3
}